[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/radovanzivkovic
[access "refs/for/refs/*"]
	read = group user/radovanzivkovic
	push = group user/radovanzivkovic
	label-Code-Review = -2..+2 group user/radovanzivkovic
	label-Verified = -1..+1 group user/radovanzivkovic
	rebase = group user/radovanzivkovic
	removeReviewer = group user/radovanzivkovic
	submit = group user/radovanzivkovic
[access "refs/heads/*"]
	read = group user/radovanzivkovic
	create = group user/radovanzivkovic
	push = +force group user/radovanzivkovic
	pushMerge = group user/radovanzivkovic
[access "refs/tags/*"]
	push = +force group user/radovanzivkovic
	pushTag = group user/radovanzivkovic
	pushSignedTag = group user/radovanzivkovic
